<!DOCTYPE html>
<html>

<head>
    <title>
        Sign-up/Sign-in
     </title>
    <link href="/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <!-- HTML -->
    <div class="mx-auto mt-8 ">
        <div id="signupForm"  class="flex flex-wrap flex-col border rounded-md p-4" style="display: none;">
            <h1 class="text-2xl font-bold mb-4 mx-auto">Sign Up</h1>
            <form action="/signup" method="post" class="flex flex-col justify-center">
                <input type="email" name="email" placeholder="Email" class="w-3/5 border rounded py-2 px-3 mb-2 mx-auto" required>
                <input type="text" name="username" placeholder="Username" class="w-3/5  border rounded py-2 px-3 mb-2 mx-auto"
                    required>
                <input type="password" name="password" placeholder="Password" class="w-3/5  border rounded py-2 px-3 mb-2 mx-auto"
                    required>
                <button type="submit" class="w-2/6 hover:bg-blue-700 mx-auto mt-8 bg-blue-500 text-white py-2 px-4 rounded">Sign Up</button>
            </form>
            <p>Already have an account? <button onclick="toggleForm('signin')">Sign In</button></p>
        </div>
        <div id="signinForm"  class="flex flex-wrap flex-col border rounded-md p-4" >
            <h1 class="text-2xl font-bold mb-4 mx-auto">Sign In</h1>
            <form action="/signin" method="post" class="flex flex-col justify-center">
                <input type="email" name="email" placeholder="Email" class="w-3/5 border rounded py-2 px-3 mb-2 mx-auto" required>
                <input type="password" name="password" placeholder="Password" class="w-3/5 border rounded py-2 px-3 mb-2 mx-auto" required>
                <button type="submit" class="w-1/6 mx-auto bg-blue-500 text-white py-2 px-4 rounded">Sign In</button>
            </form>
            <p>Don't have an account? <button onclick="toggleForm('signup')">Sign Up</button></p>
        </div>
    </div>

    <script>
        function toggleForm(formId) {
            if (formId === 'signin') {
                document.getElementById('signupForm').style.display = 'none';
                document.getElementById('signinForm').style.display = 'block';
            }
            else if (formId === 'signup') {
                document.getElementById('signupForm').style.display = 'block';
                document.getElementById('signinForm').style.display = 'none';
            } 
        }
    </script>
</body>

</html>